<!DOCTYPE html>
<html>
    <head>
        <style>
            html{
                background-color: black;
                color: white;
                font-family: calibri;
            }
        </style>
    </head>
    <body>
        <h2>Bienvenido a VmCloud, <span style="color: lightgrey;">{{ nombre }} {{ apellido }}</span>.</h2>
        <h3>Estos son tus datos, recuerda no perderlos:</h3>
        <h3>Tu usuario: <span style="color: lightgrey;">{{ user }}</span></h3>
        <h3>Tu contraseña: <span style="color: lightgrey;">{{ clave }}</span></h3>
    </body>
</html>