<!DOCTYPE html>
<html>
    <head>
        <link rel="StyleSheet" href="/static/Modelos/Tablas.css" type="text/css">
        <link rel="shortcut icon" type="image/x-icon" href="/static/geoip.ico">
        <form id="volver" action="/Modelos/" method="post">{% csrf_token %}</form>
    </head>
    <title>Datos de WebIP</title>
    <body>
        <table border="1"> 
            <tr><th>IP: {{ web_ip }}|USER: {{ user }}</th></tr>
            {% for x in query %}
            <tr>
                <td>
                    {{ x }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <p></p>
        <button type="submit" form="volver">VOLVER</button>
    </body>
</html>