<!DOCTYPE html>
<center>
<html>
    <head>
        <link rel="StyleSheet" type="text/css" href="/static/Login/Login.css">
        <link rel="shortcut icon" type="image/x-icon" href="/static/login.ico">
    </head>
    <title>GeoIpLogin</title>
    <body>
        <h3>Para visualizar los datos debe proporcionar una contraseña de administrador:</h3>
        {% if val_usr != NULL or val_psw != NULL %}
            {% if clave != val_psw %}
                <h4 class="etiq_false">Contraseña incorrecta.</h4>
            {% else %}
                <h4 class="etiq_true">Datos ingresados correctamente.</h4>
                <form name="AutoPost" id="AutoPost" action="/Modelos/geoip/?user={{ usuario }}" method="post">
                {% csrf_token %}
                </form>
                <script src="/static/AutoSubmit.js"></script>
            {% endif %}
        {% endif %}    
        <form action="" method="post">
        {% csrf_token %}
            <label>Clave:</label><br>
            <input type="password" name="clave" required>
            <p></p>
            <input class="btn" type="submit" value="INGRESAR">
        </form>
    </body>
</html>
</center>