<!DOCTYPE html>
<center>
<html>
    <head>
        <link rel="StyleSheet" type="text/css" href="/static/Login/Login.css">
        <link rel="shortcut icon" type="image/x-icon" href="/static/login.ico">
    </head>
    <title>Login</title>
    <body>
        <h3>Ingrese sus datos si ya esta registrado:</h3>
        <form method="post">
        {% csrf_token %}
            <label>Usuario:</label><br>
            <input type="text" name="usuario" required>
            <p></p>
            <label>Clave:</label><br>
            <input type="password" name="clave" required>
            <p></p>
            {% if error %}
                <p style="color:red;">{{ error }}</p>
                <a href="/Mails/reboot_psw_email/">>Olvidó su contraseña?<</a>
            {% endif %}
            <p></p>
            <input class="btn" type="submit" value="INGRESAR">
        </form>
        <p></p>
        <h4>Todavia no se ha registrado?:</h4>
        <p></p>
        <a href="register/">>Click Aqui para registrarse<</a>
    </body>
</html>
</center>