<!DOCTYPE html>
<center>
<html>
    <head>
        <link rel="StyleSheet" type="text/css" href="/static/VMCloud/Index.css">
        <link rel="shortcut icon" type="image/x-icon" href="/static/index.ico">
    </head>
    <title>Principal</title>
    <body>
        <h1>Bienvenido a VmCloud</h1>
        <h3>Puede ingresar con su usuario aqui:</h3>
        <a class="btn" href="/Login/">Ingresar</a>
        <h4>Si no se encuentra registrado, puede hacerlo:</h4>
        <a class="btn" href="/Login/register/">Registrarse</a>
    </body>
</html>
</center>